aiohttp==1.0.5
async-timeout==3.0.1
attrs==18.2.0
certifi==2018.10.15
chardet==3.0.4
configparser==3.5.0
discord==0.0.2
discord.py==0.16.12
idna==2.7
idna-ssl==1.1.0
multidict==4.4.2
requests==2.19.1
telepot==12.7
urllib3==1.23
websockets==3.4
yarl==1.2.6
